# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
.venv/
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# PyCharm
.idea/

# VS Code
.vscode/

# OS files
.DS_Store

# dotenv
*.env
app/*.env

# logs
sent_emails.log

# virtualenv installed packages (do not commit site-packages)
venv/**/site-packages/

